@import 'tailwindcss';
@import '@nuxt/ui';
@plugin '@tailwindcss/typography';

@theme static {
  --font-heading: 'DM Sans', sans-serif;
  --font-sans:
    DM Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;

    --color-gold: var(--gold);
    --color-silver: var(--silver);
    --color-bronze: var(--bronze);
    --color-platinum:var(--platinum);

  --color-primary-50: #f3f4f6;
  --color-primary-100: #e8e8ed;
  --color-primary-200: #c5c6d1;
  --color-primary-300: #a1a4b5;
  --color-primary-400: #5b5f7e;
  --color-primary-500: #151b47;
  --color-primary-600: #131840;
  --color-primary-700: #0d102b;
  --color-primary-800: #090c20;
  --color-primary-900: #060815;

  --color-secondary-50: #fff7f6;
  --color-secondary-100: #ffefed;
  --color-secondary-200: #fed8d3;
  --color-secondary-300: #fec0b8;
  --color-secondary-400: #fd9182;
  --color-secondary-500: #fc624d;
  --color-secondary-600: #e35845;
  --color-secondary-700: #973b2e;
  --color-secondary-800: #712c23;
  --color-secondary-900: #4c1d17;

  --color-neutral: #62748e;
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #ebf0f5;
  --color-neutral-200: #c2d0e0;
  --color-neutral-300: #b2c4d6;
  --color-neutral-400: #90a1b9;
  --color-neutral-500: #62748e;
  --color-neutral-600: #4c6d97;
  --color-neutral-700: #3b5475;
  --color-neutral-800: #2a3b53;
  --color-neutral-900: #192331;
  --color-neutral-950: #101720;

  --color-info: #283687;
  --color-info-50: #f0f4fe;
  --color-info-100: #dee7fb;
  --color-info-200: #c4d6f9;
  --color-info-300: #9bbbf5;
  --color-info-400: #6c97ee;
  --color-info-500: #4a73e7;
  --color-info-600: #3456dc;
  --color-info-700: #2c43c9;
  --color-info-800: #2938a4;
  --color-info-900: #283687;
  --color-info-950: #1c224f;
}
@layer base {
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
@layer theme {
  .light {
    --ui-text: #314158;
    --ui-border: #e2e8f0;
    --ui-border-accented: #cad5e2;
    --ui-bg-muted: #f8fafc;
    --ui-text-muted: #90a1b9 --ui-secondary: var(--ui-color-secondary-500);
    --ui-success: var(--ui-color-success-500);
    --ui-info: var(--ui-color-info-500);
    --ui-warning: var(--ui-color-warning-500);
    --ui-error: var(--ui-color-error-400);
  }
  :root {
    --gold: #FDB833;
    --silver: #557B68;
    --bronze: #B59427;
    --platinum: #708fad;
    --gold-light: #FFD166;
    --gold-dark: #C98A00;
   
  }

}
@layer theme {
  .dark {
    --ui-primary: #f3f4f6;
    --ui-bg-primary-800:  #171717;
    --ui-secondary: var(--color-secondary-500);
    --ui-info: var(--color-info-200);
    --color-info: var(--color-info-200);
    --ui-text-dimmed: var(--ui-color-neutral-500);
    --ui-text-muted: var(--ui-color-neutral-400);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text: var(--ui-color-neutral-200);
    --ui-text-highlighted: #fff;
    --ui-text-inverted: var(--ui-color-neutral-900);
    --ui-bg: var(--ui-color-neutral-900);
    --ui-bg-muted: var(--ui-color-neutral-800);
    --ui-bg-elevated: var(--ui-color-neutral-800);
    --ui-bg-accented: var(--ui-color-neutral-700);
    --ui-bg-inverted: #fff;
    --ui-border: var(--ui-color-neutral-800);
    --ui-border-muted: var(--ui-color-neutral-700);
    --ui-border-accented: var(--ui-color-neutral-700);
    --ui-border-inverted: #fff;
    --ui-bg-secondary-50: var(--ui-bg-secondary-500);
    --gold: #fddea3;
    --silver: #cecece;
    --bronze: #b99e4c;
    --platinum: #708fad;

  }
}
@utility prose-gray {
  --tw-prose-bullets: var(--color-secondary-300);
  --tw-prose-headings: var(--color-primary-500);
  --tw-prose-counters: var(--color-secondary-300);
  --tw-prose-body: var(--ui-text);
}
